:root{
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);

    --font1: 'Open Sans', sans-serif;
    --font2: 'Poppins', sans-serif;

    --padding-container: 60px 0;
}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font1);
}

.hero{
    background-color: var(--violet);
}

.hero::before{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 400px;
    background-image: url(../images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 400px;
}

.container{
    position: relative;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    max-width: 1200px;
    padding: var(--padding-container);
}

.nav{
    --padding-container: 30px 0
}

.nav__logo{
    width: 150px;
}

.hero__container{
    display: flex;
    align-items: center;
    flex-direction: column;

}

.hero__img{
    width: 100%;
    max-width: 350px;
    display: block;
    margin: 0 auto;
}

.hero__texts{
    margin: 3.5rem 0;
    text-align: center;
    color: white;
}

.hero__title{
    line-height: 1.3;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 0 20px;
    font-family: var(--font2);
}

.hero__paragraph{
    font-size: 1rem;
    line-height: 1.6rem;
    font-family: var(--font2);
    font-weight: lighter;
    margin-bottom: 20px;
    padding: 0 10px;
}

.hero__cta{
    display: inline-block;
    padding: 1rem 4rem;
    text-decoration: none;
    color: var(--violet);
    background-color: white;
    border-radius: 25px;
    font-family: 'Poppins';
    font-size: 0.8rem;
    box-shadow: 0px 6px 2px rgba(0,0,0,0.3);
    transition: all 0.3s ease-in-out;
}

.hero__cta:hover{
    background-color: var(--soft-magenta);
    color: white;
}

.hero___contact{
    display: flex;
    gap: 1em;
}

.hero__link{
    display: flex;
    width: 35px;
    height: 35px;
    border: 1px solid white;
    margin-right: 10px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.hero__icon{
    width: 23px;
}

@media (min-width: 768px) {
    .hero::before{
        height: 100%;
        background-image: url(../images/bg-desktop.svg);
        background-size: 100% 100%;
    }

    .hero{
        height: 100vh;
    }

    .hero__container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 85vh;
    }

    .hero__picture{
        flex-basis: 50%;
    }

    .hero__texts{
        flex-basis: 45%;
        text-align: left;
    }

    .hero___contact{
        margin-left: auto;
    }

    .hero__img{
        max-width: unset;
    }
}
